.input-default {
    input[type],
    input {
      font-family: var(--font-family-default);
      font-size: var(--font-default-body-size);
  
      color: var(--color-edit-font);
      background-color: var(--color-edit-background);
      border: 2px solid var(--color-edit-border);
  
      border-radius: 4px;
      box-sizing: border-box;
  
      width: 100%;
      outline: none;
  
      &::placeholder {
        color: var(--color-edit-font);
      }
  
      &.error-border {
        border: 2px solid var(--color-error);
      }
    }
  }
  
  input[type].input-h35,
  .input-h35 {
    height: 35px;
    padding-left: 12px;
  }
  
  input[type].input-h40,
  .input-h40 {
    height: 40px;
    padding-left: 16px;
  }